html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 100%;

}
h2{
    font-size: 25px;
}
.title{
    margin-bottom: 10px;
}
.marbt10{
    margin-bottom: 10px;
}
.aligncenter{
   /* padding: 40px 15px;*/
    text-align: center;
}
.inline{
    display: inline;
}
.fr{
    float: right;
}
.padbtm40{
    padding-bottom: 40px;
}
.pad20{
  padding: 20px;}
